// @file _core.styl

for num in 0..10
  .mb{num*5}
    margin-bottom num*5 px

  .ml{num*5}
    margin-left num*5 px

  .mr{num*5}
    margin-right num*5 px

  .pr{num*5}
    padding-right num*5 px

body
  padding 0
  font-size 14px
  word-wrap break-word