doctype html
html
  head
    meta(charset='UTF-8')
    title Swift Seminar 2017
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/highlight.pack.css')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/app.css')

  body

    .container
        section
            .playground-header
                h2.main-title Swift Seminar 2017

        section.env.mb20
            h2.env-title 実行環境
            | macOS Sierra 10.12.3 <br> Xcode 8.3 beta 3(8W132p)

        h3.play-title Bluetooth Low Energy

        p.mb10 ※使用するプログラムは
            a(href="https://github.com/code0-sh/iOS-BLE", target="blank") こちら
            | にあります。

        section.playground
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step1: Bluetooth Low Energyとは
                    .play-code
                        .guidance
                            p.mb10 Bluetooth Low Energy(BLE, Bluetooth4.0)とは2.4GHzの省電力無線通信プロトコルです。<br>※ プロトコルとは通信での送受信の手順を定めた規格のこと。<br>※ クラシックBluetoothとは互換性がない。
                            dl.subject.mb20
                                dt.subject-title 特徴
                                dd.subject-contents
                                    ul
                                        li 低消費電力: コイン型リチウムイオン電池1個で、通信モジュールを1～2年間動作させることが可能
                                        li 通信速度: 10～50kbps
                                        li 通信距離: 2.5〜50m (※ 障害物によって影響を受ける。)
                            dl.subject.mb20
                                dt.subject-title 利用例
                                dd.subject-contents IoT機器、ウェラブル機器など
                            dl.subject.mb20
                                dt.subject-title BLEの登場人物
                                dd.subject-contents
                                    ul
                                        li ペリフェラル(周辺装置、Peripherals) ex. 温度センサー、加速度センサー
                                        li セントラル(中央装置、Centrals) ex. PC、スマートフォン(※ ペリフェラルにもなり得る。)
                            dl.mb20
                                dt
                                    span.highlight.marker ペリフェラル
                                dd 他のデバイスが必要とするデータがあって、それを提供する。
                                dd
                                    canvas#canvas-peripherals
                                dd ペリフェラルは自身の存在を知らしめるため、電波を使って周囲に
                                    span.highlight.marker アドバタイズ
                                    |する。
                            dl
                                dt
                                    span.highlight.marker セントラル
                                dd 必要なデータを提供してくれるペリフェラルがないか走査し、該当するペリフェラルを検出すると、接続を要求し、データのやり取りを始める。
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step2: ペリフェラル
                    .play-code
                        .guidance
                            dl.subject.mb20
                                dt.subject-title データ構造
                                dd.subject-contents
                                    ul
                                        li 1つ以上の
                                            span.highlight.marker サービス（service）
                                            |を提供する。
                                        li サービスは
                                            span.highlight.marker 特性（characteristic）
                                            |またはサービスから成る。
                            .mb20
                                img(src="images/service.png")
                            dl.subject.mb20
                                dt.subject-title アドバタイズ
                                dd.subject-contents ペリフェラルが自身の存在を知らせるために出す「広告」のこと。<br>
                                    |アドバタイズパケットの形式で、所定のデータを同報送信（broadcast）する。<br>
                                    |※ アドバタイズパケット（advertising packet）は比較的小さなデータバンドルで、ペリフェラルの名前や主な機能など、提供可能なデータを表す情報が入っている。
                            div.css-advertising.mb20
                                div.css-advertising-central Central
                                div.css-advertising-Ad.left Ad
                                div.css-advertising-Ad Ad
                                div.css-advertising-Ad Ad
                                div.css-advertising-Ad Ad
                                div.css-advertising-peripheral Peripheral
                            dl.subject
                                dt.subject-title Flow
                                dd.subject-contents
                                    ol
                                        li サービスを作成する。
                                        li アドバタイズを開始する。
                                        li セントラルからの読み込み/書き込み/通知要求に応答する。

            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step3: セントラル
                    .play-code
                        .guidance.mb10
                            dl.subject.mb20
                                dt.subject-title Flow
                                dd.subject-contents
                                    ol
                                        li 該当のサービスを提供しているペリフェラルを検索する。
                                        li ペリフェラルに接続する。
                                        li サービスを検索する。
                                        li サービスの特性を検索する。
                                        li 特性値の読み込み/書き込み/通知要求を行う。
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step4: Core Bluetoothフレームワーク
                    .play-code
                        div.guidance.mb10
                            div.mb20 iOS/Macアプリケーションで、BLEを実装したデバイスと通信するために使用するフレームワーク<br>Appleの
                                 a(href="https://developer.apple.com/jp/documentation/CoreBluetoothPG.pdf", target="blank") ドキュメント
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step5: ペリフェラルの実装
                    .play-code
                        div.guidance.mb10
                            dl
                                ol
                                    li ペリフェラルマネージャを生成する。
                                        .mb10
                                            include:markdown ../md/Step5/1.md
                                    li ペリフェラルマネージャにペリフェラルが提供するサービスや特性を設定する。
                                        .mb10
                                            include:markdown ../md/Step5/2.md
                                    li サービスをアドバタイズする。
                                        .mb10
                                            include:markdown ../md/Step5/3.md
                                    li
                                        div セントラルからの読み込み要求に応答する。
                                            .mb10
                                                include:markdown ../md/Step5/4.md
                                        div セントラルからの書き込み要求に応答する。
                                            .mb10
                                                include:markdown ../md/Step5/5.md
                                        div セントラルが特性値の通知を要求したときに呼び出される。
                                            .mb10
                                                include:markdown ../md/Step5/6.md
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step6: セントラルの実装
                    .play-code
                        div.guidance.mb10
                            dl
                                ol
                                    li セントラルマネージャを生成する。
                                        .mb10
                                            include:markdown ../md/Step6/1.md
                                    li サービスを提供しているペリフェラルを検索する。
                                        .mb10
                                            include:markdown ../md/Step6/2.md
                                    li ペリフェラルに接続する。
                                        .mb10
                                            include:markdown ../md/Step6/3.md
                                    li サービスを検索する。
                                        .mb10
                                            include:markdown ../md/Step6/4.md
                                    li サービスの特性を検索する。
                                        .mb10
                                            include:markdown ../md/Step6/5.md
                                    li
                                        div 特性値の読み込みを行う。
                                            .mb10
                                                include:markdown ../md/Step6/6.md
                                        div 特性値の書き込みを行う。
                                            .mb10
                                                include:markdown ../md/Step6/7.md
                                        div 特性値の通知要求を行う。
                                            .mb10
                                                include:markdown ../md/Step6/8.md

    script(src='js/react-with-addons-0.13.1.js')
    script(src='js/bundle.js')
    script(src='js/highlight.pack.js')
    script(type="text/javascript").
        hljs.initHighlightingOnLoad();
